body{
	background-color: #4e342e;
}
.contactImage:hover{
	cursor: pointer;
	content: url(../imgs/llamar.png);
	background-color: #fff;
	background-size: 100% 100%;
	opacity: 1;
	width: 100%;
}
.img-llamada{
	width: 20%;
}
.img-user{
	width: 50%;
}
